
<h4 >
    {{ assignmentGroupsCtrl.pageName }}
</h4>
<button class="btn btn-primary" ng-click="assignmentGroupsCtrl.machineGrade()">Machine Grade</button>
<div uib-alert class="alert alert-success alert-fade" close="assignmentGroupsCtrl._AlertService.closeSuccessAlert(assignmentGroupsCtrl)" dismiss-on-timeout="3000" ng-if="assignmentGroupsCtrl.success">
    {{ assignmentGroupsCtrl.success }}
</div>
<div uib-alert class="alert alert-danger alert-fade" close="assignmentGroupsCtrl._AlertService.closeErrorAlert(assignmentGroupsCtrl)" dismiss-on-timeout="3000" ng-if="assignmentGroupsCtrl.error">
    {{ assignmentGroupsCtrl.error }}
</div>
 <div uib-alert class="alert alert-info alert-fade" ng-if="assignmentGroupsCtrl.alert">
    {{ assignmentGroupsCtrl.alert }}
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <colgroup>
                <col span="1" style="width:50%">
            </colgroup>
        <thead>
            <tr>
            <th>Group</th>
            <th>&nbsp;</th>
            <th>Points</th>
            <th>Status</th>
            <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(groupId, group) in assignmentGroupsCtrl.groups">
                <td>
                    <ul class="list-group" style="margin-bottom:0">
                        <li class="list-group-item" ng-repeat="user in group.members" >
                            {{ user.firstName }} , {{ user.lastName }}
                        </li>
                    </ul>
                </td>
                <td>&nbsp;</td>
                <td style="vertical-align:middle">{{ group.grade.pointsEarned }}</td>
                <td style="vertical-align:middle">{{ group.grade.finishedGrading ? "Graded" : "Not Graded" }}</td>
                <td style="vertical-align:middle"><a ng-click="assignmentGroupsCtrl.navToQuestions(groupId)" href="">Grade</a></td>
            </tr>
        </tbody>
        </table>

    </div>
</div>

