<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                {{ pageName }}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger" ng-if="account.error">
                {{ account.error }}
            </div>
            <div class="alert alert-success" ng-if="account.changeSuccess" >
                <strong>Success!</strong> Your password was changed!
            </div>
        </div>
    </div>
    <div class="row">
           	<div>Name: {{ account.user.firstName }} {{ account.user.lastName }}</div>
        	<div>Email: {{ account.user.email }}</div>
        	<div>Role: {{ account.user.roles[0] }}</div>
    </div>
</div>
