<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                {{ pageName }}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger" ng-if="account.error">
                {{ account.error }}
            </div>
            <div class="alert alert-success" ng-if="account.changeSuccess" >
                <strong>Success!</strong> Your password was changed!
            </div>
        </div>
    </div>
    <div class="row">
       	<div class="panel panel-default account-info">
		    <div class="panel-heading">
		      <h3 class="panel-title acc-label">Account information</h3>
		    </div>
		    <div class="panel-body">
		        <div><span class="acc-label">Name: </span><span>{{ account.user.firstName }} {{ account.user.lastName }}</span></div>
		        <div><span class="acc-label">Email: </span><span>{{ account.user.email }}</span></div>
		        <div><span class="acc-label">Role: </span><span>{{ account.user.roles[0] }}</span></div>
		    </div>
		</div>
    </div>
</div>
