<div class="form-group">
    <legend>Question Type</legend>
    <input type="text" ng-model="model.questionType" class="form-control" disabled>
</div>
<div class="form-group">
    <legend>Question Text</legend>
    <textarea class="form-control"
                  ng-model="model.humanReadableText"
                  rows="3"></textarea>
</div>
<div class="form-group row">
    <div class="col-sm-12">
        <legend>Answers</legend>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="option in model.options track by $index" >
            	<div class="input-group">
                	<input type="text" ng-model="option.humanReadableText" class="form-control">
                	<span class="input-group-btn">
                    	<button type="button" class="btn btn-warning"
                    		ng-click="removeOption($index)" 
                    		ng-disabled="$parent.$parent.questionEditCtrl.currentDate > model.page.module.openTimestamp">
                      		<span class="glyphicon glyphicon-trash"></span>
                    	</button>
                    </span>
				</div>
                <div class="checkbox margin-bottom-0">
                    <label>
                        <input type="checkbox" ng-model="option.isCorrectOption" ng-disabled="$parent.$parent.questionEditCtrl.currentDate > model.page.module.openTimestamp"> Correct
                    </label>
                </div>
            </li>
        </ul>
        <input type="text" ng-model="newOption" class="form-control" placeholder="Answer Text" ng-disabled="$parent.$parent.questionEditCtrl.currentDate > model.page.module.openTimestamp">
    </div>
</div>
<div class="form-group">
    <button type="button" class="btn btn-primary"
            ng-click="addNewOption(newOption)"
            ng-disabled="!newOption && $parent.$parent.questionEditCtrl.currentDate > model.page.module.openTimestamp">Add Answer</button>
</div>
<div class="form-group">
    <legend>Points</legend>
    <input class="form-control" type="number" ng-model="model.points" ng-disabled="$parent.$parent.questionEditCtrl.currentDate > model.page.module.openTimestamp">
</div>
<div class="form-group">
    <legend>Gatekeeper</legend>
    <label class="checkbox-inline">
      <input type="checkbox" ng-model="model.isGatekeeper" ng-disabled="$parent.$parent.questionEditCtrl.currentDate > model.page.module.openTimestamp">
       Gatekeeper
    </label>
</div>
