#close-datepicker, #open-datepicker {
    width: 50%;  
    float: left;
    padding-top: 0.7em;
}
#close-timepicker, #open-timepicker {
    width: 50%;  
    float: left;
    padding-left: 1em;
}
.alert-fade.ng-enter {
	transition: 0.5s linear all;
	opacity: 0;
}
.alert-fade.ng-enter.ng-enter-active {
    opacity: 1;
}
.alert-fade.ng-leave{
    transition: 0.5s linear all;
    opacity: 1;
}
.alert-fade.ng-leave.ng-leave-active {
    opacity: 0;
}